@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

:root{
    --a-color : #afafaf;
    --b-color : #262525;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
}

nav{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 20px auto;
    padding: 5px 10px;
    margin-top: -2px;
}
nav div h1{
    color: white;
    font-family: 'Inter', sans-serif;    
    font-weight: 700; /* or 600 */
    letter-spacing: 1px;
}

nav div a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav div a:hover{
    color: var(--a-color);
}

button.black{
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-color: white;
    border-radius: 18px;
}

button.black:hover{
    background-color: var(--b-color);
}
button.white{
    background-color: white;
    color: black;
    padding: 8px 12px;
    border-radius: 18px;

}

button.white:hover{
    background-color: var(--a-color);
}

main{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 83%;
    margin: 0px auto;
    gap: 30px;
}
.main-left p{
    margin-top: 25%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.download-button{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 83%;
    margin: 0px auto;
    margin-top: 40px;
}
.download{
    
    background-color: white;
    color: black;
    font-size: 24px;
    padding: 8px 12px;
    border-color: white;
    border-radius: 18px;
    
}
.download:hover{
    background-color: var(--a-color);
}

.image img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
    border-radius: 8px;
    margin-top: 50px;
}